body {background-color:#C7C6C5;}
.top {width:1104px;}
.topLeft {float:left;}
.topRight {float:right; width:600px;}
.topnotespos {top:28px;}
.dropmenudiv_a {z-index:999;}
.dbee-feed{border-collapse:separate;}
.filter-feed-options {margin-top:-4px;}
.loginBoxWrapper {margin-right:15px;}